html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: lightyellow;
	text-align: center;	
}

h1 {
 	color: purple;
 	font-weight: bold;
 	font-family: verdana;
}
ul {
  list-style-type: none;
  padding-left: 0; /* opcional: remove o recuo da lista */
  font-family: 'Roboto', sans-serif;
}


.menu {
    display: block;
    font-size: 20px;
    margin: auto;
    margin-top: 30px; /* empurra para baixo */
    margin-bottom: 5px;
    width: 20%;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px 0;
    border-radius: 15px;
}


.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;      /* centraliza conteúdo horizontalmente */
    justify-content:center ;  /* centraliza conteúdo verticalmente */

    width: 600px;             /* largura fixa do quadrado */
    height: 100px;            /* altura fixa do quadrado */
    margin: 0 auto;             /* centraliza no meio da tela */

    border: 2px solid rgb(227, 218, 218);  /* borda fina */
    border-radius: 100px;      /* cantos arredondados */
    padding: 20px;            /* espaço interno */
    background-color: #fdfdfd;/* fundo claro */
    height: 100vh;            /* ocupa a tela inteira */
    align-items: center;      /* centro vertical */
}


.menu:visited{
	color: black;
}

img.sobre {
	max-width:25%;
	max-height:25%;
}
