html, body {
	position: relative;
	width: 100%;
	height: 100%;
}


body {
  margin: 0;
  padding: 0; /* ✅ */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: lightyellow;
  text-align: center;

  background-image: url("/images/igara.jpeg"); 
  background-size: cover; /* cobre a tela toda */ 
  background-position: center; /* centraliza */ 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
 	color: purple;
 	font-weight: bold;
 	font-family: verdana;
}
ul {
  list-style-type: none;
  padding-left: 0; /* opcional: remove o recuo da lista */
  font-family: 'Roboto', sans-serif;
}


.menu {
    display: block;
    font-size: 20px;
    margin: auto;
    margin-top: 30px; /* empurra para baixo */
    margin-bottom: 5px;
    width: 20%;
    background-color: rgb(37, 15, 15);
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px 0;
    border-radius: 15px;
}


.menu-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  /* IMAGEM DE FUNDO */
  background-image: url("/images/igara.jpeg");
  background-size: cover;       /* cobre a tela toda */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat;

  
}


.menu:visited{
	color: black;
}

img.sobre {
	max-width:25%;
	max-height:25%;
}
.preview {
  max-width: 300px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.nomes{
  display: inline-block;              /* ajusta ao conteúdo */
  background: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 10px

}

